@font-face {
    font-family: 'IconoGlyph';
    src: url('../fonts/IconoGlyph.eot');
    src: url('../fonts/IconoGlyph.eot?#iefix') format('embedded-opentype'),
         url('../fonts/IconoGlyph.woff') format('woff'),
         url('../fonts/IconoGlyph.ttf') format('truetype'),
         url('../fonts/IconoGlyph.svg#IconoGlyph') format('svg');
    font-weight: normal;
    font-style: normal;
}
[class*='i-']:before{
	display: inline-block;
   font-family: 'IconoGlyph';
   font-style: normal;
   font-weight: normal;
   line-height: 1;
   margin:2px;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}
.i-user:before{content:'\0041';}
.i-calendar:before{content:'\0042';}
.i-clock:before{content:'\0043';}
.i-comments:before{content:'\0044';}
.i-link:before{content:'\0045';}
.i-mail:before{content:'\0046';}
